/* Estilos generales */

body {
  font-family: Arial, sans-serif;
  background: #161824;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

/* Otros */

.caja {
  border: 2px solid black;
  background-color: rgb(66, 26, 106);
  text-align: center;
  border-radius: 15px;
  padding: 20px;
}

.grid-layout {
  height: 700px;
  display: grid;
  grid-template-areas: 'cabecera cabecera' 'menu menu' 'contenido lateral' 'footer footer';
  grid-template-rows: 20% 10% auto 10%;
  

  background-color: lightgreen;
  border: 2px solied black;
}

.c1 {
   grid-area: cabecera;
  background-color: orange;
}

.c2 {
   grid-area: menu;
  background-color: darkturquoise;
}

.c3 {
   grid-area: contenido;
  background-color: chartreuse;
}

.c4 {
   grid-area: barra lateral;
  background-color: deeppink;
}

.c5 {
   grid-area: footer;
  background-color: darkslateblue;
}


.flex-container {
   display: grid;
   place-items: center;
   grid-template-columns: 
   repeat(auto-fit, minmax(
      250px,
      2fr
   )
   );
   gap: 40px;
}

.f1 {
   width: 250px;
   height: 150px;
   background-color: rebeccapurple;
   border-radius: 20px;
}