.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  margin-top: -100px;
  background-color: rgba(0, 0, 0, 0.375);
}
.header-logo {
  flex: 1;
  text-align: center;
}
.header-logo img {
  height: 22px;
  width: auto;
}
.header-buttons {
  display: flex;
  gap: 20px;
}

.header-buttons a {
  text-decoration: none;
  color: rgb(177, 177, 177);
  display: inline;
  background: none;
  border: none;
  cursor: pointer;
}

.header-buttons a:hover {
  color: white;
}

