@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-size: 16px; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h5,
p {
  color: white; }

section {
  height: 100vh;
  display: flex; }

.button {
  background-image: linear-gradient(to right, #9181f8, #bd13e8);
  padding: 0.5rem 4rem;
  border-radius: 10px;
  border: 2px solid #9181f8;
  text-align: center;
  color: white;
  font-size: larger;
  font-weight: bold; }

.button:hover {
  border-color: #bd13e8;
  background-image: linear-gradient(to right, transparent, transparent); }

footer {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 150px; }

.slide-container {
  max-width: auto;
  width: 100%;
  padding: 40px 0;
  margin-top: 0.1rem; }

.slide-content {
  padding: 2rem 1rem; }

.card-image {
  height: auto;
  width: auto; }

.card-image .card-img {
  border-radius: 6px;
  height: 100%;
  width: 100%;
  border: 3px solid transparent;
  transform: scale(1);
  transition: border-color 0.3s ease, transform 0.3s ease, opacity 0.1s ease-out;
  opacity: 0.8; }

.card-image:hover .card-img:hover {
  border-color: #bd13e8;
  transform: scale(1.05);
  opacity: 1;
  background-image: linear-gradient(to bottom right, #bd13e8, #9181f8); }

.slide {
  margin: -200 !important; }

.texto-carrusel {
  color: white;
  padding: 0 30px;
  margin-top: 20px;
  margin-bottom: -20px;
  font-size: larger; }

.swiper-navBtn {
  color: #bd13e8 !important;
  transition: color 0.3s ease; }

.swiper-navBtn:hover {
  color: #9181f8 !important; }

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 40px; }

.swiper-button-next {
  right: 0; }

.swiper-button-prev {
  left: 0; }

.swiper-pagination-bullet {
  background-color: #9181f8 !important;
  opacity: 1; }

.swiper-pagination-bullet-active {
  background-color: #bd13e8 !important; }

/* Media queries */
@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px; }
  .swiper-navBtn {
    display: none; } }

.banner-container {
  overflow: hidden; }

.banner-container::before {
  content: "";
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #090819) !important;
  z-index: 1; }

.container-fluid {
  height: 100% !important;
  padding: 0px !important; }

.card-img-top {
  border-radius: 10px !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); }

@media screen and (max-width: 768px) {
  .container-fluid {
    max-width: 100% !important;
    height: auto;
    padding-top: 100px !important; } }
