/* Resto de los estilos */

/* Estilos para el contenido centrado */

h3 {
  color: white;
}

.button-1 {
  text-align: center;
  color: white;
  font-size: larger;
  background-image: linear-gradient(to right, rgb(145, 129, 248), #bd13e8);
  padding: 15px;
  width: 230px;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: background-image 0.3s ease;
}

.button-1:hover {
  border-color: rgb(145, 129, 248);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 200px;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1));

}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-container {
  position: relative;
  z-index: 10;
  text-align: center;
}

.inner-content {
  padding: 20px;
  border-radius: 10px;
}

.logo {
  display: block;
  margin: 0 auto;
  height: 150px;
  width: auto;
  margin-bottom: 10px;
}

.container h1 {
  color: white;
}

.container button {
  background-color: #f80;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
