@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
html {
  font-size: 16px; }
  html * {
    font-family: "Poppins", sans-serif; }
  html a {
    text-decoration: none; }
  html h3 {
    color: white; }
  html section {
    height: 100vh;
    display: flex; }

.button {
  background-image: linear-gradient(to right, #9181f8, #bd13e8);
  padding: 0.5rem 4rem;
  border-radius: 10px;
  border: 2px solid #9181f8;
  text-align: center;
  color: white;
  font-size: larger;
  font-weight: bold; }

.button:hover {
  border-color: #bd13e8;
  background-image: linear-gradient(to right, transparent, transparent); }

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), black); }

.video {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.container {
  display: flex;
  justify-content: center;
  align-items: end;
  z-index: 1;
  margin-bottom: 14rem; }
  .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; }
