/* Estilos generales */

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../img/bg/1.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 110vh;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


h1,
h2,
h3,
h5,
p {
  color: white;
}

footer {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 150px;
}

a {
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}