@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-size: 16px; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h5,
p {
  color: white; }

section {
  height: 100vh;
  display: flex; }

.button {
  background-image: linear-gradient(to right, #9181f8, #bd13e8);
  padding: 0.5rem 4rem;
  border-radius: 10px;
  border: 2px solid #9181f8;
  text-align: center;
  color: white;
  font-size: larger;
  font-weight: bold; }

.button:hover {
  border-color: #bd13e8;
  background-image: linear-gradient(to right, transparent, transparent); }

footer {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 150px; }

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px; }

.section-1 {
  display: flex;
  flex-direction: column;
  padding-left: 220px;
  margin-top: 500px; }

.button-1 {
  text-align: center;
  color: white;
  font-size: larger;
  background-image: linear-gradient(to right, #9181f8, #bd13e8);
  padding: 15px;
  width: 180px;
  border-radius: 6px;
  transition: background-image 0.3s ease;
  border: 1px solid transparent;
  margin-top: 40px;
  margin-bottom: 40px; }

.button-1:hover {
  border-color: #9181f8;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); }

@media screen and (max-width: 768px) {
  .section-1 {
    height: auto;
    width: auto; } }
