$primary-color: #bd13e8;
$secondary-color: #9181f8;
$background-header-color: rgba(0, 0, 0, 0.375);
$bg-header-color-movile: rgba(0, 0, 0, 0.806);
$text-menu-color: rgb(177, 177, 177);
$button-header-color: rgba(150, 150, 150, 0.111);