@import "variables";
@import "styles";

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
  }
  

  .section-1 {
    display: flex;
    flex-direction: column;
    padding-left: 220px;
    margin-top: 500px;
  }

  .button-1 {
    text-align: center;
    color: white;
    font-size: larger;
    background-image: linear-gradient(to right, rgb(145, 129, 248), #bd13e8);
    padding: 15px;
    width: 180px;
    border-radius: 6px;
    transition: background-image 0.3s ease;
    border: 1px solid transparent;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .button-1:hover {
    border-color: rgb(145, 129, 248);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }

  @media screen and (max-width: 768px) {
    .section-1 {
        height: auto;
        width: auto;
    }

  }