@mixin flex($justify,$align){
  display:flex;
  justify-content:$justify;
  align-items:$align;
}

@mixin backgound-image($image-path) {
  background-image: url($image-path);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 110vh;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

// Boton animado
@mixin animated-button($primary-color, $secondary-color) {
  background-image: linear-gradient(to right, $secondary-color, $primary-color);
  padding: 0.5rem 4rem;
  border-radius: 10px;
  border: 2px solid $secondary-color;
  text-align: center;
  color: white;
  font-size: larger;
  font-weight: bold;
  transition: border-color 0.3s ease-out;
  animation: gradientChange 9s ease-in-out infinite alternate, lightFlash 2s infinite;
}

// Animacion
@keyframes gradientChange {
  0% {
    background-position: -200% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}

@keyframes lightFlash {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
}
