.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-top: -100px;
  background-color: $background-header-color;
  min-height: 65px;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-logo img {
  height: 22px;
  width: auto;
}
.header-buttons a {
  text-decoration: none;
  color: $text-menu-color;
  display: inline;
  background: none;
  border: none;
  cursor: pointer;
}
.header-buttons a:hover {
  color: white;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-left: 30px;
  padding-right: 30px;

  .header-button-1 {
    display: flex;
    align-items: center;
    background-color: $button-header-color;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid transparent;
    transition: border-color 0.2s ease-out;
  }
}
.header-button-1:hover {
  background-color: black;
  color: back;
  border-color: $primary-color;
}

.logo-movile,
.menu-toggle {
  display: none;
}
.mobile-nav {
  display: none;
}
.mobile-nav {
  background-color: $bg-header-color-movile;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 10px;
}

#menu-checkbox {
  display: none;
}

.section-flex-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Media Query para versiones móviles */
@media (max-width: 768px) {
  .header {
    flex-direction: flex;
    background-color: $bg-header-color-movile;
    .header-buttons {
      display: none;
    }
  }

  .menu {
    display: flex;
  }

  .menu-toggle {
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .logo-movile {
    text-align: center;
    display: flex; 
  }

  .logo {
    height: 20px;
    width: auto;
  }

  .menu-icon {
    cursor: pointer;
  }

  .menu-icon img {
    height: 30px;
    width: auto;
  }

  .header-logo {
    display: none;
  }

  #menu-checkbox:checked ~ .mobile-nav {
    display: block;
  }

  .mobile-nav ul {
    list-style: none;
    padding: 10px 0;
  }

  .mobile-nav li {
    margin-bottom: 10px;
  }

  .mobile-nav a {
    color: $text-menu-color;
    text-decoration: none;
    transition: color 0.2s;
  }

  .mobile-nav a:hover {
    color: white;
  }
}
