.container-suscribe {
  @include flex(center, center);
}

.sub-container {
  display: flex;
  flex-direction: column;
  margin-top: 500px;
  padding: 0 2rem;
}

.button-1 {
  @include animated-button($primary-color, $secondary-color);
  margin-top: 40px;
  margin-bottom: 40px;
}

.button-1:hover {
  border-color: rgb(145, 129, 248);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

@media screen and (max-width: 768px) {
  .section-1 {
    height: auto;
    width: auto;
  }
}
