.body-suscribe {
  width: 100%;
  @include flex(center, center);
  flex-direction: column;
  margin-top: 40rem;
}

li {
  color: white;
  font-size: medium;;
}

.suscribe-section {
  padding: 0 2rem;
  padding-bottom: -200rem;
}

.button-1 {
  @include animated-button($primary-color, $secondary-color);
  @include flex(center, center);
  padding: 1rem;
  font-size: medium;
  margin-bottom: 1rem;
}

.button-1:hover {
  border-color: rgb(145, 129, 248);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

@media screen and (max-width: 768px) {
  .section-1 {
    height: auto;
    width: auto;
  }
}
