@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.container-page {
  @include flex(center, center);
}
.space {
  margin-top: 8rem;
}
* {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h5,
p {
  color: white;
}
section {
  height: 100vh;
  display: flex;
}

.button {
  background-image: linear-gradient(to right, $secondary-color, $primary-color);
  padding: 0.5rem 4rem;
  border-radius: 10px;
  border: 2px solid $secondary-color;
  text-align: center;
  color: white;
  font-size: larger;
  font-weight: bold;
}
.button:hover {
  border-color: $primary-color;
  background-image: linear-gradient(to right, transparent, transparent);
}
